// SPDX-License-Identifier: GPL-2.0-only
/*
 * Pixel 9 Pro XL (komodo) Device Tree
 *
 * Copyright 2025 Trijal Saha - <trijalsaha2012@gmail.com>
 */

/dts-v1/;

#include "zumapro-pixel-common.dtsi"

/ {
	model = "Pixel 9 Pro XL";
	compatible = "google,komodo", "google,zumapro-komodo", "google,zumapro";
};

&cont_splash_mem {
	// reg = <0x0 0xfac00000 (1440 * 3120 * 4)>;
	reg = <0x0 0xfac00000 (1344 * 2992 * 4)>;
	status = "okay";
};

&framebuffer0 {
	// width = <1440>;
	// height = <3120>;
	// stride = <(1440 * 4)>;
	width = <1344>;
	height = <2992>;
	stride = <(1344 * 4)>;
	format = "a8r8g8b8";
	status = "okay";
};

&spitouch {
	st,dchip_id = /bits/ 8 <0x36 0x48>;
	st,max-coords = <1079 2399>;
	st,udfps-coords = <540 1769>;
	st,touch_offload_id = /bits/ 8 <'0' '0' 'o' '6'>;
};
