// SPDX-License-Identifier: GPL-2.0-only
/*
 * Pixel 9 (tokay) Device Tree
 *
 * Copyright 2025 Trijal Saha - <trijalsaha2012@gmail.com>
 */

/dts-v1/;

#include "zumapro-pixel-common.dtsi"
#include "zumapro-caimito-wireless.dtsi"
#include <dt-bindings/leds/common.h>

/ {
	model = "Pixel 9";
	compatible = "google,tokay", "google,zumapro-tokay", "google,zumapro";
};

// &cont_splash_mem {
// 	// reg = <0x0 0xfac00000 (1440 * 3120 * 4)>;
// 	reg = <0x0 0xfac00000 (1080 * 2424 * 4)>;
// 	status = "okay";
// };

// &framebuffer0 {
// 	// width = <1440>;
// 	// height = <3120>;
// 	// stride = <(1440 * 4)>;
// 	width = <1080>;
// 	height = <2424>;
// 	stride = <(1080 * 4)>;
// 	format = "a8r8g8b8";
// 	status = "okay";
// };

&usi4 {
	samsung,mode = <USI_MODE_I2C>;
	status = "okay";
};

&hsi2c_4 {
	clock-frequency = <390000>;
	status = "okay";

	flash_led: led-controller@63 {
		compatible = "ti,lm3644";
		reg = <0x63>;
		enable-gpios = <&gpp24 1 GPIO_ACTIVE_HIGH>;

		led {
			function = LED_FUNCTION_FLASH;
			color = <LED_COLOR_ID_WHITE>;
			led-sources = <0>, <1>;
			led-max-microamp = <90000>;
			flash-max-microamp = <750000>;
			flash-max-timeout-us = <100000>;
		};
	};
};

&spitouch {
	st,dchip_id = /bits/ 8 <0x36 0x48>;
	st,max-coords = <1079 2399>;
	st,udfps-coords = <540 1769>;
	st,touch_offload_id = /bits/ 8 <'0' '0' 'o' '6'>;
};
