// SPDX-License-Identifier: GPL-2.0-only
/*
 * Wireless for the boards that carry the Broadcom BCM4390 combo chip:
 * caiman, komodo, tokay and comet (tegu uses a different part).
 *
 * Copyright 2025 Trijal Saha - <trijalsaha2012@gmail.com>
 */

#include <dt-bindings/gpio/gpio.h>

/* PCIe channel 1 (HSI2) connects to the Broadcom BCM4390 Wi-Fi. */
&pcie_1_phy {
	status = "okay";
};

&pcie_1 {
	pinctrl-0 = <&pcie1_clkreq &pcie1_perst>;
	pinctrl-names = "default";
	reset-gpios = <&gph3 0 GPIO_ACTIVE_HIGH>;	/* PERST */
	wlan-reg-on-gpios = <&gph3 4 GPIO_ACTIVE_HIGH>;	/* WLAN_EN */
	status = "okay";
};
